body {
    background-color: #d8ddff;
}

h1, h2, h3, h4 {
    color: #192874;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    padding: 10px;
    border-radius: 6px;
    background-color: #d8ddff;
}

h2:hover {
    color: #f6f9ff;
}

a {
    text-decoration: none;
}

.portafolio p {
   color: #f6f9ff;
}

p, li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.quote {
    text-align: center;
}

.linea-titulo {
    border: 2px solid #d8ddff;
}

.linea-punteada {
    border: 1px dashed #d8ddff;
}

.foto {
    border-radius: 150px;
    margin-top: 0;
}

li {
    list-style-type: none
}

/* .iconos {
    float: center;
 } */

 .grid-container {
     max-width: 980px;
     margin: auto;
 }

 .grid-container .project-container {
     display: inline-block;
 }

 .second-container .project-container{ 
     margin-left: 30px;
 }

 .grid-container .project-container p {
    margin-bottom: 35px;
    text-align: center;
 }

 .nav {
     padding: 1px;
     /*border: 1px solid black;*/
 }

.perfil {
    /*border: 1px solid black;*/
    width: 29%;
    height: 540px;
    background-color: #5d88d0;
    padding: 2.5%;
    border-radius: 6px;
    float: left;
    text-align: center;
    position: fixed;
}

.quiensoy {
    /*border: 1px solid black;*/
    width: 60%;
    background-color: #5d88d0;
    padding: 2.5%;
    border-radius: 6px;
    float: right;
    margin-bottom: 10px;
}

.formacion {
    /*border: 1px solid black;*/
    width: 60%;
    background-color: #5d88d0;
    padding: 2.5%;
    border-radius: 6px;
    float: right;
    margin-bottom: 10px;
}

.experiencia {
    /*border: 1px solid black;*/
    width: 60%;
    background-color: #5d88d0;
    padding: 2.5%;
    border-radius: 6px;
    float: right;
    margin-bottom: 10px;
}

.portafolio {
    /*border: 1px solid black;*/
    width: 60%;
    background-color: #5d88d0;
    padding: 2.5%;
    border-radius: 6px;
    float: right;
    margin-bottom: 10px;
}





